{
  "presets": [
    "next/babel",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["transform-remove-console"]
  ],
  "env": {
    "production": {
      "plugins": [["transform-remove-console"]]
    }
  }
} 